<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="macguffinco.hellrazorbarber">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_hellrazor"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Common.MainRun"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Dashboard.CustomerDashBoard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Dates.DatesBrunchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Common.BarbersListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Common.BranchesListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Dashboard.BillingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Common.GroupChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Common.ServicesListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Dates.AppointmentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.Chat.ChatGroupActivity" />
        <activity android:name=".Activities.Dashboard.AppointmentsFragment" />
        <activity android:name=".Activities.Dashboard.GalleryFragment" />
        <activity android:name=".Activities.Dashboard.ChatFragment" />
        <activity
            android:name=".Activities.Common.PreviewCamera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Dashboard.MarketActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DescriptionActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".cartActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>